<h1>Reviews of <%= @restaurant.name  %></h1>
<ul>
  <% @reviews.each do |review| %>
    <p><%=review.content%> (rating: <%=review.rating%>)</p>
  <% end %>
</ul>
<p><%= link_to "Back to the restaurant's details", restaurant_path(@restaurant) %></p>

